version: '3'
services:
  web:
    image: bspaulding/axe-fx-pco-setlist-builder
    build: .
    volumes:
      - /etc/letsencrypt
    links:
      - redis
    environment:
      REDIS_URL: 'redis://redis:6379'
      PORT: 80
      CALLBACK_ENV: 'https://www.setbuilder.app'
      VIRTUAL_HOST: setbuilder.app,www.setbuilder.app
      VIRTUAL_PROTO: http
      VIRTUAL_PORT: 80
      LETSENCRYPT_HOST: setbuilder.app,www.setbuilder.app
      LETSENCRYPT_EMAIL: brad.spaulding@gmail.com
      USE_HTTP2: "false"
      USE_SSL: "false"
      ENV: "production"
  redis:
    image: redis:alpine
    entrypoint: redis-server --appendonly yes
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
volumes:
  redis-data:
